.carousel img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: 0 -50px
}

.carousel-item:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
}

.carousel__text {
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
}

.carousel__text p {
    line-height: 1.5em;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 2;
}
