.filter {
    line-height: 1.85em;
}

.filter h2 {
    border-bottom: 1px solid #c7c7c7;
    padding: 10px 0;
    margin-bottom: 12px;
    cursor: pointer;
    transition: .25s;
}

.filter h2:hover {
    color: #007bff;
}

.filter h2:after {
    content: "\f068";
    float: right;
    font-family: 'Line Awesome Free';
    font-weight: 900;
}

.filter a {
    color: #777;
    font-weight: 300;
    transition: .25s;
}

.filter a:hover {
    color: #007bff;
    text-decoration: none;
}

.filter .active {
    font-weight: 700;
    color: #333;
}