.current-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.product-images img {
    height: 70px!important;
    object-fit: cover;
}

.owl-item.current .product {
    border: 2px solid #020202
}

.description {
    line-height: 2em;
}

.owl-item .product {
    border: 2px solid transparent
}

.variance .btn {
    border-radius: 0;
}

.variance .row:last-child {
    margin-bottom: 0px!important;
}

.product-images {
    display: none;
}

.variance-key {
    white-space: nowrap;
}

.separator + br {
    display: none;
}