/* override bootstrap */
.btn-green {
    background-color: #48cab2!important;
    border-color: #38b49d!important;
}

.btn-green:hover,
.btn-green:active {
    background-color: #36a994!important;
    border-color: #208a77!important;
}

.btn-green:focus {
    box-shadow: 0 0 0 0.2rem rgba(54, 169, 148,.25)!important;
}

/* style */
img {
    max-width: 100%;
}

.cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.container-fluid {
    padding: 0 50px;
}

.text-black {
    color: #383838!important;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

a.secondary {
    color: #48cab2
}

body {
    font-family: Hind, Arial, Helvetica, sans-serif;
    /* background-color: #eee; */
}

header, header a {
    color: #888;
}

[class^=navbar] {
    z-index: 1000;
    background: #fff;
}

[class^=navbar].sticky {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

[class^=navbar] a {
    color: #383838;
}

.top-bar {
    border-bottom: 1px solid #ebebeb;
}

.navbar--desktop {
    border-bottom: 1px solid #ebebeb;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;  
}

.latest-products .product {
    line-height: 1.5em;
}

.latest-products .atc__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: -45px;
    transition: bottom .25s, opacity .65s .1s;
    opacity: 0;
}

.latest-products .product:hover .atc__wrapper {
    bottom: 5px;
    opacity: 1;
}

.product__details {
    position: relative;
    top: 0;
    transition: .25s;
}

.product__inner-wrapper {
    overflow: hidden;
}

.product .product__details {
    z-index: 3;
}

.product:hover .product__details {
    top: -55px;
}

.product .product__price {
    font-size: 1.1em;
}

.product__tags {
    font-size: .85em;
}

.product .product__image,
.product .product__tags,
.product .product__name,
.product .atc {
    position: relative;
    z-index: 2;
}

.product__image {
    z-index: 0;
}

.product__name h3 {
    display: inline;
    line-height: 1em;
    transition: .75s;
}

.product__name:hover h3 {
    color: #007bff!important;
    transition: .2s;
}

.product__name:hover {
    text-decoration: none;
}

footer,
footer a {
    line-height: 2em;
    color: #888
}

footer h2 {
    color: #4b4b4b;
}

input.search {
    border-color: transparent;
    transition: .5s cubic-bezier(0.91, 0.01, 0.14, 0.59);
}

.search.w-100 {
    background: #f2f2f2;
}

.description img {
    display: none;
}